# SSO Auth
<IfModule mod_shib>
SSLRequireSSL   # The modules only work using HTTPS 
Require shibboleth
AuthType shibboleth
ShibRequireSession On
ShibRequireAll On
ShibExportAssertion Off
</IfModule>
<IfModule auth_mellon_module>
AuthType "Mellon"
MellonEnable "info"
MellonEndpointPath /mellon
MellonSamlResponseDump On
MellonSPentityId "https://%{SERVER_NAME}/"
MellonSPMetadataFile /etc/mellon/sp-metadata.xml
MellonSPCertFile /etc/mellon/sp-cert.pem
MellonSPPrivateKeyFile /etc/mellon/sp-key.pem
MellonIdPMetadataFile /etc/mellon/FederationMetadata.xml
</IfModule>
